{% extends 'base.html' %}
{% block page %}

<div class="row">
    <div class="col-md-12"> <!-- <div id="main_container"> -->
        <div id="title"><span id="text_title">BD4Y Movie Recommendation</span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"> <!-- <div id="body_system"> -->
        <div id="user_preferences">
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
            <div id="recommendation_value_0" class="recommendation_value_class">
                <div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div>
                <div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div id="movies_management">
                <div id="movie_list">
                    <div id="first_row">

                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="preset_movies">
                                <div id="box_0" class="movie_box">
                                    <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve (1989)</span></div>
                                    <hr class="movie_data_separator"/>
                                    <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">Comedy Artistic Drama Space</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="second_row"></div>
                </div>
            </div>
            <!-- <div class="col-md-12"> 2nd row </div> -->
        </div>
    </div>
    <div class="col-md-2">
        <div id="start_reset">
            <div id="reset_box">
                <button id="btn_reset" class='btn-lg btn-primary btn-block'>Reset</button>
            </div>
            <div id="start_box">
                <button id="btn_start" class='btn-lg btn-primary btn-block'>Start</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <div id="new_movie_suggested">
            <div id="dislike_box" class="like_dislike_box">
                    <button id="dislike" class='btn-lg btn-danger btn-block'>Dislike</button>
            </div>
            <div id="new_movie_suggested_box"></div>
            <div id="like_box" class="like_dislike_box">
                <button id="like" class='btn-lg btn-danger btn-block'>Like</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
