<!DOCTYPE html>
<html>
<head>
    <title>New Interface</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='new_index_script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_index_style.css') }}"/>
</head>
<body>
    <div id="main_container">
        <div id="title"><span id="text_title">BD4Y Movie Recommendation</span></div>
        <div id="body_system">
            <div id="user_preferences">
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                <div id="recommendation_value_0" class="recommendation_value_class"><div class="r_v_column"><span id="r_v_0" class="r_v_text_style">0</span></div><div class="r_v_column"><span class="r_v_text_style">&nbsp;Azione</span></div></div>
                
                
            </div>
                
            <div id="movies_management">
                <div id="movie_list">
                    <div id="first_row">
                        <div class="preset_movies">
                            <div id="box_0" class="movie_box">
                                <div class="movie_box_title"><span class="movie_text_style" id="movie_0">Biancaneve</span></div>
                                <hr style="background-color:grey; width:90%; height:2%;"/>
                                <div class="movie_box_recommendation_elements"><span class="movie_text_style" id="movie_0_elements">1989 - Comedy Artistic Drama Space Cazzum Ciao</span></div>
                            </div>
                        </div>
                        <div class="preset_movies">
                            <div id="box_1" class="movie_box">
                                <div class="movie_box_title"><span id="movie_0">Biancaneve</span></div> 
                                <div class="movie_box_recommendation_elements"><span id="movie_0_elements">1989 - Comedy Artistic Drama</span></div>
                            </div>
                        </div>
                        <div class="preset_movies">
                            <div class="movie_box">
                                <div class="movie_box_title"><span id="movie_0">Biancaneve</span></div> 
                                <div class="movie_box_recommendation_elements"><span id="movie_0_elements">1989 - Comedy Artistic Drama</span></div>
                            </div>
                        </div>
                        <div class="preset_movies">
                            <div class="movie_box">
                                <div class="movie_box_title"><span id="movie_0">Biancaneve</span></div> 
                                <div class="movie_box_recommendation_elements"><span id="movie_0_elements">1989 - Comedy Artistic Drama</span></div>
                            </div>
                        </div>
                        <div class="preset_movies">
                            <div class="movie_box">
                                <div class="movie_box_title"><span id="movie_0">Biancaneve</span></div> 
                                <div class="movie_box_recommendation_elements"><span id="movie_0_elements">1989 - Comedy Artistic Drama</span></div>
                            </div>
                        </div>
                        <div class="preset_movies">
                            <div class="movie_box">
                                <div class="movie_box_title"><span id="movie_0">Biancaneve</span></div> 
                                <div class="movie_box_recommendation_elements"><span id="movie_0_elements">1989 - Comedy Artistic Drama</span></div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="second_row">
                       
                    </div>
                </div>
                <div id="new_movie_suggested">
                        <div id="dislike_box" class="like_dislike_box"><button id="dislike" class="like_dislike_button">Dislike</button></div>
                    <div id="new_movie_suggested_box">
                        
                       
                    </div>
                    <div id="like_box" class="like_dislike_box"><button id="like" class="like_dislike_button">Like</button></div>
                </div>
            </div>
            <div id="start_reset">
                <div id="reset_box"><button id="btn_reset" class='btn_reset_start'>Reset</button></div>
                <div id="start_box"><button id="btn_start" class='btn_reset_start'>Start</button></div>
            </div>
        </div>
    </div>
</body>
</html>
