
#main_container {
    width:100%;
    height:100%;
    display:flex;
    align-items: stretch;
    align-content:stretch;
    flex-direction: column;
}

body, html, .viewport {
  margin: 0;
    width:100%;
    height:100%;
}



#title {
    flex:1;
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
}

#body_system {
    display:flex;
    flex:5;
    flex-direction:row;
    background-color: bisque;
}

#user_preferences {
    display:flex;
    flex:1;
    background-color: brown;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    overflow-y: scroll;
}

#movies_management {
    display:flex;
    flex:5;
    flex-direction: column;
}

#start_reset {
    flex:1;
    background-color: blue;
    display: flex;
    flex-direction: column;
    
}

#movie_list {
    flex:2;
    background-color: coral;
    display:flex;
    flex-direction: column;
}

#new_movie_suggested {
    flex:1;
    display:flex;
    flex-direction: row;
}

#first_row {
    display: flex;
    flex:1;
    flex-direction: row;
}

#second_row {
    display:flex;
    flex-direction:row;
    flex:1;
}

.preset_movies {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: chartreuse;
    align-items:center;
    justify-content:center;
}

#dislike_box {
    flex:1;
}

#new_movie_suggested_box {
    flex:1;
    display: flex;
}

#like_box {
    flex:1;
}

#reset_box {
    display:flex;
    flex:2;
    align-items: center;
    justify-content:center;
}

#start_box {
    display:flex;
    flex:1;
    align-items: center;
    justify-content:center;
}

.btn_reset_start {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 300%;
  padding: 10px 20px 10px 20px;
  border: solid #1f75ab 6px;
  text-decoration: none;
}

.btn_reset_start:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#text_title {
    display:flex;
    flex:1;
    font-size:500%;
    font-weight: bold;
    /*text-align:center;
    align-items:center;*/
    justify-content:center;
}

.recommendation_value_class {
    width:100%;
    background-color:grey;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin-top: 6px;
}

.r_v_text_style {
    font-size:200%;
    font-weight: bold;
    text-align:center;

    
}

.r_v_column {
    width:50%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.movie_box {
    width:90%;
    height:90%;
    background-color: palevioletred;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
}

.movie_box_title {
    flex:1;
    align-items:center;
    justify-content:center;
    display:flex;
}

.movie_box_recommendation_elements {
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
}



.movie_text_style {
    font-size: 22px;
    font-weight: bold;
    text-align:center;
}

.movie_text_suggested_style {
    font-size: 28px;
    font-weight: bold;
    text-align:center;
}

.like_dislike_button {
    font-size:300%;
    background-color: brown;
    color: white;
    border-radius: 20px;
    border-width:8px;
    border-color:aqua;
}

.like_dislike_box {
    display:flex;
    justify-content:center;
    align-items: center;
    
}
